type=overlay

[killcount]
type=text
x=418
y=303
width=75
height=14
script1op1=varbit,varbit_464
script1=gt,9999
center=yes
font=p12
shadowed=yes
text=Kill Count: %1
activetext=Kill Count: Too Many!
colour=0x7D7D4B
activecolour=0x4D4D2F

[ahrim]
type=model
x=86
y=109
width=32
height=32
zoom=400

[dharok]
type=model
x=166
y=189
width=32
height=32
zoom=400

[guthan]
type=model
x=440
y=138
width=32
height=32
zoom=400

[karil]
type=model
x=365
y=201
width=32
height=32
zoom=400

[torag]
type=model
x=403
y=141
width=32
height=32
zoom=400

[verac]
type=model
x=125
y=165
width=32
height=32
zoom=400
